@import "components/colors";
@import "components/fonts";
@import "parts/extendtions";
@import "components/mixins";

// header start

// red alert pop
.alert {
  border: 0 !important;
  border-radius: 0 !important;
}
.alert-danger {
  background-color: $danger !important;
  margin-bottom: 0 !important;
  span {
    color: $white;
    font-family: $subheading-font;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    a {
      text-decoration: underline;
      color: $white;
    }
  }
  button {
    background-color: $danger;
    border: 0;
    float: none;
    vertical-align: middle;
    span {
      color: $white;
      font-size: 24px;
      font-weight: bold;
      opacity: 0.5;
      margin-left: 4px;
      font-family: $subheading-font;
      text-shadow: 0 1px 0 $white;
      line-height: 0;
      @include transition(all 0.3s);
    }
    span:hover {
      opacity: 0.7;
    }
  }
}
// black conact-login menu
.alert-dark {
  margin: 0 !important;
  background-color: $darken !important;
  padding: 0 !important;
  .info-contact {
    list-style: none;
    margin-bottom: 0;
    li {
      display: inline-block;
      margin-right: 10px;
      a {
        text-decoration: none;
        span {
          color: $white;
          font-size: 14px;
          @include transition(all 0.4s);
        }
        span:hover {
          color: $primary-color;
        }
        i {
          margin-right: 5px;
          color: $white;
          vertical-align: middle;
          font-size: 18px;
          @include transition(all 0.4s);
        }
        i:hover {
          color: $primary-color;
        }
      }
    }
  }
  .social-part {
    align-items: flex-end;
  }
  .social-icons {
    list-style: none;
    display: inline;

    li {
      display: inline;
      margin-left: 20px;
      i {
        color: $white;
        font-size: 13px;
        @include transition(all 0.4s);
      }
      i:hover {
        color: $primary-color;
      }
    }
  }
  .login-apply {
    list-style: none;
    display: inline;
    position: relative;
    top: 7px;
    li {
      display: inline;
      a {
        text-decoration: none;
      }
      span {
        color: $white;
        margin-right: 5px;
        font-size: 15px;
        @include transition(all 0.4s);
      }
      span:hover {
        color: $primary-color;
      }
    }
    li {
      // button hoverini duzelt
      button {
        background-color: $primary-color !important;
        border-color: $primary-color !important;
      }
    }
  }
  .login-apply:before {
    content: "";
    position: absolute;
    left: 19px;
    top: 7px;
    height: 25px;
    width: 1px;
    background-color: #eee;
  }
}
// end of the contact-login menu

.sticky-menu-nav {
  .dropdown-search-area {
    .dropdown-items{
      position: relative;
      margin-right: 11px;
    }
    .dropdown-items a:after{
      border: 0 none;
    font-family: "FontAwesome";
    content: "\f107";
    height: auto;
    line-height: normal;
    margin-left: 5px;
    vertical-align: middle;
    width: auto;
    position: absolute;
    font-size: 16px;
    right: -5px;
    top: 18px;
    }
    justify-content: flex-end;
    li {
      a {
        color: $primary-black-color !important;
        font-weight: 600;
        font-family: $subheading-font;
        text-transform: uppercase;
        padding: 14px;
        font-size: 14px;
      }
    }
    .search-area {
      padding: 0;
      margin-bottom: 0px;
      list-style: none;
      li {
        i {
          color: $primary-secondBlack;
          font-size: 16px;
        }
      }
    }
  }
}
