.text-red {
  color: #F6475F !important;
}

.text-green {
  color: #B3D369 !important;
}

.pr30 {
  padding-right: 30px;
}

.pr15 {
  padding-right: 15px;
}

.m0 {
  margin: 0;
}

.alert {
  border: 0 !important;
  border-radius: 0 !important;
}

.alert-danger {
  background-color: #F6475F !important;
  margin-bottom: 0 !important;
}

.alert-danger span {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
}

.alert-danger span a {
  text-decoration: underline;
  color: #fff;
}

.alert-danger button {
  background-color: #F6475F;
  border: 0;
  float: none;
  vertical-align: middle;
}

.alert-danger button span {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.5;
  margin-left: 4px;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 1px 0 #fff;
  line-height: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.alert-danger button span:hover {
  opacity: 0.7;
}

.alert-dark {
  margin: 0 !important;
  background-color: #343a40 !important;
  padding: 0 !important;
}

.alert-dark .info-contact {
  list-style: none;
  margin-bottom: 0;
  padding: 14px 0;
}

.alert-dark .info-contact li {
  display: inline-block;
  margin-right: 10px;
}

.alert-dark .info-contact li a {
  text-decoration: none;
}

.alert-dark .info-contact li a span {
  color: #fff;
  font-size: 14px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  font-family: "Roboto", sans-serif;
}

.alert-dark .info-contact li a span:hover {
  color: #FFBC09;
}

.alert-dark .info-contact li a i {
  margin-right: 5px;
  color: #fff;
  vertical-align: middle;
  font-size: 18px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.alert-dark .info-contact li a i:hover {
  color: #FFBC09;
}

.alert-dark .social-part {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.alert-dark .social-icons {
  list-style: none;
  display: inline;
}

.alert-dark .social-icons li {
  display: inline;
  margin-left: 20px;
}

.alert-dark .social-icons li i {
  color: #fff;
  font-size: 13px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.alert-dark .social-icons li i:hover {
  color: #FFBC09;
}

.alert-dark .login-apply {
  list-style: none;
  display: inline;
  position: relative;
  top: 7px;
}

.alert-dark .login-apply li {
  display: inline;
}

.alert-dark .login-apply li a {
  text-decoration: none;
}

.alert-dark .login-apply li span {
  color: #fff;
  margin-right: 5px;
  font-size: 15px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.alert-dark .login-apply li span:hover {
  color: #FFBC09;
}

.alert-dark .login-apply li .btn-primary {
  background-color: #FFBC09 !important;
  border-color: #FFBC09 !important;
  position: relative;
}

.alert-dark .login-apply li .btn-primary::before {
  content: "";
  opacity: 0;
  background-color: rgba(52, 58, 64, 0.19);
  height: 100%;
  width: 2em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.alert-dark .login-apply li .btn-primary:hover::before {
  -webkit-transform: skewX(-45deg) translateX(40em);
  transform: skewX(-45deg) translateX(208px);
  opacity: 1;
}

.alert-dark .login-apply:before {
  content: "";
  position: absolute;
  left: 19px;
  top: 7px;
  height: 25px;
  width: 1px;
  background-color: #eee;
}

.sticky-menu-nav .navbar {
  padding: 0 0;
}

.sticky-menu-nav .collapse .search-area {
  padding: 0;
  list-style: none;
  margin-top: 17px;
  margin-left: 10px;
}

.sticky-menu-nav .collapse .search-area .icon {
  color: #888888;
  font-size: 20px;
}

.sticky-menu-nav .collapse .search-area .icon:hover {
  color: #FFBC09;
}

.sticky-menu-nav .collapse .search-area .search-pop {
  position: absolute;
  padding: 22px;
  background-color: #fff;
  border: 1px solid #ddd;
  right: 0;
  top: 70px;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.sticky-menu-nav .collapse .search-area .search-pop .search-bar {
  position: relative;
  min-width: 268px;
}

.sticky-menu-nav .collapse .search-area .search-pop .search-bar i {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 22px;
  color: #888888;
}

.sticky-menu-nav .collapse .nav-item {
  padding: 17px 0;
}

.sticky-menu-nav .collapse .nav-item .nav-link {
  color: #292b2c;
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.sticky-menu-nav .collapse .nav-item .nav-link:hover {
  color: #FFBC09;
}

.sticky-menu-nav .collapse .dropdown {
  margin-right: 19px;
}

.sticky-menu-nav .collapse .dropdown .dropdown-menu {
  margin-top: -1px;
  background-color: #fff;
  border-color: rgba(165, 161, 161, 0.17);
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 65px;
  border-radius: 0;
}

.sticky-menu-nav .collapse .dropdown .dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 5px 6px;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-family: sans-serif;
  font-size: 14px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.sticky-menu-nav .collapse .dropdown .dropdown-menu .dropdown-item:hover {
  color: #FFBC09;
}

.sticky-menu-nav .collapse .dropdown .nav-link {
  color: #292b2c;
  font-weight: 600;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}

.sticky-menu-nav .collapse .dropdown .dropdown-toggle::after {
  border: 0 none;
  font-family: "FontAwesome";
  content: "\f107";
  height: auto;
  line-height: normal;
  margin-left: 5px;
  vertical-align: middle;
  width: auto;
  position: absolute;
  font-size: 16px;
  right: -6px;
  bottom: 26px;
}

#footer-on {
  background-color: #343a40;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  padding-top: 70px;
  padding-bottom: 30px;
}

#footer-on .dark-logo {
  margin-bottom: 15px;
}

#footer-on .title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#footer-on .blog-part li {
  margin-bottom: 12px;
}

#footer-on .blog-part li .blog-part-item .blog-part-img {
  float: left;
  margin-right: 10px;
}

#footer-on .search-input {
  padding: 10px 105px 10px 15px;
  width: 100%;
  border: 0;
  color: #777777;
  height: 43px;
}

#footer-on .search-btn {
  background-color: #FFBC09;
  color: #fff;
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 6px 15px;
  outline: none;
}

#footer-on .search-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#footer-on ul.social-icons-part li {
  display: inline-block;
  padding: 2px 3px;
}

#footer-on ul.social-icons-part li a {
  display: inline-block;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

#footer-on ul.social-icons-part li a i {
  margin: 0px;
  font-size: 14px;
}

#footer-on ul {
  display: block;
}

#footer-on ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

#footer-on ul li:first-child {
  margin-top: 0px;
}

#footer-on ul li i {
  font-size: 18px;
  vertical-align: middle;
  max-width: 30px;
  width: 100%;
  text-align: center;
  margin-right: 5px;
}

#footer-on ul li p {
  margin-bottom: 0px;
}

#footer-on ul li a.hover-padding:hover {
  padding-left: 5px;
}

#footer-on ul li span.blog-date {
  font-size: 12px;
  color: #888888;
}

#footer-on a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

#footer-on a:hover {
  color: #FFBC09;
}

#footer-down {
  background-color: #202325;
  font-size: 14px;
  color: #fff;
  padding: 30px 0px;
}

#footer-down .footer-bottom-copyright {
  margin: 0px;
}

#footer-down .footer-bottom-list ul {
  display: inline-block;
}

#footer-down .footer-bottom-list ul li {
  margin-left: 10px;
  display: inline-block;
}

#footer-down .footer-bottom-list ul li a {
  color: #fff;
  text-decoration: none;
}

#footer-down .footer-bottom-list ul li a:hover {
  color: #FFBC09;
}

#yellow-overlay-sect {
  background-color: #FFBC09;
  padding: 45px 0px 26px 0px;
}

#yellow-overlay-sect .text h2 {
  margin-bottom: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#yellow-overlay-sect .text p {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#yellow-overlay-sect .getStrat-btn {
  text-align: right;
}

#yellow-overlay-sect .getStrat-btn .btn-outline-light {
  padding: 10px 35px;
  border: 2px solid #fff;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  position: relative;
  color: #fff;
}

#yellow-overlay-sect .getStrat-btn .btn-outline-light:hover {
  color: #FFBC09;
}

#yellow-overlay-sect .getStrat-btn .btn-outline-light::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  content: "";
  background-color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#yellow-overlay-sect .getStrat-btn .btn-outline-light::after {
  content: "Get Started";
  position: absolute;
  height: 0%;
  left: -25%;
  top: 24%;
  width: 150%;
  z-index: -1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#yellow-overlay-sect .getStrat-btn .btn-outline-light:hover::before {
  left: 0%;
  right: initial;
  width: 100%;
  z-index: 1;
}

#yellow-overlay-sect .getStrat-btn .btn-outline-light:hover::after {
  z-index: 1;
  color: #FFBC09;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

#mp-categories {
  padding-top: 100px;
  padding-bottom: 50px;
}

#mp-categories .item-1 .item .categorie {
  background-color: #F89035;
  width: 94%;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5%;
}

#mp-categories .item-1 .item .categorie a {
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mp-categories .item-1 .item .categorie a i {
  position: absolute;
  top: 34px;
  font-size: 32px;
  left: 31px;
  color: #fff;
}

#mp-categories .item-1 .item .categorie a span {
  position: relative;
  bottom: -24px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

#mp-categories .item-2 .item .categorie {
  background-color: #38DDF7;
  width: 94%;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5%;
}

#mp-categories .item-2 .item .categorie a {
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mp-categories .item-2 .item .categorie a i {
  position: absolute;
  top: 33px;
  font-size: 32px;
  left: 38px;
  color: #fff;
}

#mp-categories .item-2 .item .categorie a span {
  position: relative;
  bottom: -24px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

#mp-categories .item-3 .item .categorie {
  background-color: #F6475F;
  width: 94%;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5%;
}

#mp-categories .item-3 .item .categorie a {
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mp-categories .item-3 .item .categorie a i {
  position: absolute;
  top: 33px;
  font-size: 32px;
  left: 24px;
  color: #fff;
}

#mp-categories .item-3 .item .categorie a span {
  position: relative;
  bottom: -24px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

#mp-categories .item-4 .item .categorie {
  background-color: #B3D369;
  width: 94%;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5%;
}

#mp-categories .item-4 .item .categorie a {
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mp-categories .item-4 .item .categorie a i {
  position: absolute;
  top: 33px;
  font-size: 32px;
  left: 17px;
  color: #fff;
}

#mp-categories .item-4 .item .categorie a span {
  position: relative;
  bottom: -24px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

#mp-categories .item-5 .item .categorie {
  background-color: #FFBC09;
  width: 94%;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5%;
}

#mp-categories .item-5 .item .categorie a {
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mp-categories .item-5 .item .categorie a i {
  position: absolute;
  top: 33px;
  font-size: 32px;
  left: 28px;
  color: #fff;
}

#mp-categories .item-5 .item .categorie a span {
  position: relative;
  bottom: -24px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

#mp-categories .item-6 .item .categorie {
  background-color: #F94FA4;
  width: 94%;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5%;
}

#mp-categories .item-6 .item .categorie a {
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mp-categories .item-6 .item .categorie a i {
  position: absolute;
  top: 33px;
  font-size: 32px;
  left: 32px;
  color: #fff;
}

#mp-categories .item-6 .item .categorie a span {
  position: relative;
  bottom: -24px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

#mp-categories .standart-headings h2 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
  font-size: 32px;
}

#mp-categories .standart-headings p {
  color: #888888;
  font-family: "Roboto", sans-serif;
  padding-bottom: 25px;
}

#banner-sect {
  height: 500px;
  display: inline-block;
  width: 100%;
}

#banner-sect .carousel {
  height: 100%;
  position: relative;
}

#banner-sect .carousel .carousel-inner {
  height: 100%;
}

#banner-sect .carousel .carousel-inner .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
}

#banner-sect .carousel .carousel-inner .carousel-item::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
}

#banner-sect .carousel .carousel-inner .carousel-item .carousel-headings {
  position: absolute;
  text-align: center;
  top: 125px;
  z-index: 2;
}

#banner-sect .carousel .carousel-inner .carousel-item .carousel-headings .btn-warning {
  color: #fff;
  padding: 11px 26px;
  margin-right: 10px;
  background-color: #FFBC09;
}

#banner-sect .carousel .carousel-inner .carousel-item .carousel-headings .btn-outline-light {
  position: relative;
  padding: 11px 26px;
  border: 2px solid #fff;
  background-color: transparent;
}

#banner-sect .carousel .carousel-inner .carousel-item .carousel-headings .btn-outline-light:hover {
  color: #FFBC09;
}

#banner-sect .carousel .carousel-inner .carousel-item .carousel-headings .btn-outline-light::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  content: "";
  background-color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#banner-sect .carousel .carousel-inner .carousel-item .carousel-headings .btn-outline-light::after {
  content: "Learn More";
  position: absolute;
  height: 0%;
  left: -25%;
  top: 24%;
  width: 150%;
  z-index: -1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#banner-sect .carousel .carousel-inner .carousel-item .carousel-headings .btn-outline-light:hover::before {
  left: 0%;
  right: initial;
  width: 100%;
  z-index: 1;
}

#banner-sect .carousel .carousel-inner .carousel-item .carousel-headings .btn-outline-light:hover::after {
  z-index: 1;
  color: #FFBC09;
}

#banner-sect .carousel .carousel-inner .carousel-item .carousel-headings h2 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

#banner-sect .carousel .carousel-inner .carousel-item .carousel-headings p {
  font-size: 18px;
  color: #fff;
  padding-bottom: 20px;
}

#w-ch-eduglobal {
  background-color: #f7f7f7;
  padding: 100px 0;
}

#w-ch-eduglobal .w-ch-edu-headings h2 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
  font-size: 32px;
}

#w-ch-eduglobal .w-ch-edu-headings p {
  color: #888888;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

#w-ch-eduglobal .reason-box {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
          box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
  border-radius: 5%;
  margin-top: 12px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#w-ch-eduglobal .reason-box .icon-circle-1 {
  border-radius: 100%;
  display: inline-block;
  padding: 20px;
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: #F6475F;
  margin-bottom: 16px;
}

#w-ch-eduglobal .reason-box .icon-circle-1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  border-radius: 100%;
  margin: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#w-ch-eduglobal .reason-box .icon-circle-1 img {
  padding: 5px;
  position: absolute;
  left: 20px;
  top: 18px;
  max-width: 60px;
}

#w-ch-eduglobal .reason-box .icon-circle-2 {
  border-radius: 100%;
  display: inline-block;
  padding: 20px;
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: #FFBC09;
  margin-bottom: 16px;
}

#w-ch-eduglobal .reason-box .icon-circle-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  border-radius: 100%;
  margin: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#w-ch-eduglobal .reason-box .icon-circle-2 img {
  padding: 5px;
  position: absolute;
  left: 20px;
  top: 19px;
  max-width: 60px;
}

#w-ch-eduglobal .reason-box .icon-circle-3 {
  border-radius: 100%;
  display: inline-block;
  padding: 20px;
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: #B3D369;
  margin-bottom: 16px;
}

#w-ch-eduglobal .reason-box .icon-circle-3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  border-radius: 100%;
  margin: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#w-ch-eduglobal .reason-box .icon-circle-3 img {
  padding: 5px;
  position: absolute;
  left: 20px;
  top: 20px;
  max-width: 60px;
}

#w-ch-eduglobal .reason-box .reason-s h5 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

#w-ch-eduglobal .reason-box .reason-s p {
  color: #888888;
  font-family: "Roboto", sans-serif;
}

#about-us-sect {
  padding: 50px 0;
  overflow: hidden;
}

#about-us-sect .aboutus-part {
  padding: 54px;
  border-radius: 0 200px 200px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: -50px;
  z-index: 1;
  background-color: #fff;
}

#about-us-sect .aboutus-part .au-heading h2 {
  font-family: "Rubik", sans-serif;
  color: #292b2c;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
}

#about-us-sect .aboutus-part p {
  font-family: "Roboto", sans-serif;
  color: #888888;
}

#about-us-sect .aboutus-part .counter-list li {
  display: inline-block;
}

#about-us-sect .aboutus-part .counter-list li span {
  font-size: 40px;
  font-family: "Rubik", sans-serif;
  line-height: 1.2;
  font-weight: 500;
  padding-bottom: 13px;
}

#about-us-sect .aboutus-part .counter-list li h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-top: 7px;
}

#about-us-sect .image-part {
  position: relative;
  z-index: -1;
}

#about-us-sect .image-part::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

#about-us-sect .image-part img {
  z-index: -1;
  width: 100%;
}

#about-us-sect .video-link {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
}

#about-us-sect .video-link i {
  position: absolute;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #FFBC09;
}

#our-courses-sect {
  padding: 50px 0 100px 0;
}

#our-courses-sect .standart-headings h2 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
  font-size: 32px;
}

#our-courses-sect .standart-headings p {
  color: #888888;
  font-family: "Roboto", sans-serif;
}

#our-courses-sect .course-box {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  overflow: hidden;
}

#our-courses-sect .course-box:hover .course-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#our-courses-sect .course-box .course-img {
  overflow: hidden;
}

#our-courses-sect .course-box .course-img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#our-courses-sect .course-box .content-area {
  padding: 15px;
}

#our-courses-sect .course-box .content-area h4 {
  cursor: pointer;
  color: #292b2c;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#our-courses-sect .course-box .content-area h4:hover {
  color: #FFBC09;
}

#our-courses-sect .course-box .content-area p {
  margin-bottom: 10px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

#our-courses-sect .course-box .content-area .rating-part .stars {
  display: inline-block;
}

#our-courses-sect .course-box .content-area .rating-part .stars i {
  color: #FFBC09;
  font-size: 13px;
}

#our-courses-sect .course-box .content-area .rating-part .likes {
  list-style: none;
  float: right;
}

#our-courses-sect .course-box .content-area .rating-part .likes li {
  display: inline;
}

#our-courses-sect .course-box .content-area .rating-part .likes li i {
  color: #888888;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#our-courses-sect .course-box .content-area .rating-part .likes li i:hover {
  color: #FFBC09;
}

#our-courses-sect .course-box .box-foot {
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1px;
  border-top: 1px solid #ddd;
}

#our-courses-sect .course-box .box-foot .foot-photo {
  display: inline-block;
}

#our-courses-sect .course-box .box-foot .foot-photo img {
  max-width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#our-courses-sect .course-box .box-foot .foot-photo span {
  font-size: 16x;
  font-family: "Roboto", sans-serif;
  color: #292b2c;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#our-courses-sect .course-box .box-foot .foot-photo span:hover {
  color: #FFBC09;
}

#our-courses-sect .course-box .box-foot .price {
  display: inline-block;
}

#our-courses-sect .course-box .box-foot .price .price-back {
  display: block;
  padding: 5px 15px;
  background-color: #d4edda;
  border-radius: 5px;
}

#our-courses-sect .course-box .box-foot .price .price-back span {
  color: #155724;
}

#our-courses-sect .all-courses-btn {
  text-align: center;
  margin-top: 50px;
}

#our-courses-sect .all-courses-btn .btn-warning {
  color: #fff;
  background-color: #FFBC09;
  border-color: #FFBC09;
  padding: 13px 32px;
  position: relative;
}

#our-courses-sect .all-courses-btn .btn-warning a {
  color: #fff;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

#our-courses-sect .all-courses-btn .btn-warning i {
  color: #fff;
  font-size: 13px;
  margin-left: 3px;
}

#our-courses-sect .all-courses-btn .btn-warning::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.46);
  height: 100%;
  width: 32px;
  display: block;
  position: absolute;
  top: 0;
  left: -72px;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
}

#our-courses-sect .all-courses-btn .btn-warning:hover::before {
  -webkit-transform: skewX(-45deg) translateX(40em);
  transform: skewX(-45deg) translateX(620px);
}

#parallax-counter {
  background-image: url(../others/img/counter_bg.jpg);
  padding: 100px 0 70px 0;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-size: cover;
}

#parallax-counter .layout {
  background-color: rgba(7, 41, 77, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#parallax-counter .parallax-icon img {
  margin-bottom: 15px;
}

#parallax-counter .numbers h3 {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 29px;
  font-weight: 500;
  margin-bottom: 8px;
}

#parallax-counter .numbers h3 span {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}

#parallax-counter .numbers p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#upcoming-events {
  padding: 100px 0;
}

#upcoming-events .event-heading h2 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
  font-size: 32px;
}

#upcoming-events .event-heading p {
  color: #888888;
  font-family: "Roboto", sans-serif;
  margin-bottom: 16px;
}

#upcoming-events .event-box {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 30px;
  background-color: #fff;
  overflow: hidden;
}

#upcoming-events .event-box:hover .img-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#upcoming-events .event-box .img-box {
  position: relative;
  overflow: hidden;
}

#upcoming-events .event-box .img-box img {
  border-radius: 10px 10px 0 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#upcoming-events .event-box .img-box .event-date {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 75px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

#upcoming-events .event-box .img-box .event-date h4 {
  font-size: 15px;
  margin: 0;
  padding: 5px;
  font-family: "Rubik", sans-serif;
}

#upcoming-events .event-box .img-box .event-date h4 span {
  font-size: 24px;
  display: block;
  font-family: "Rubik", sans-serif;
  padding-bottom: 2px;
}

#upcoming-events .event-box .img-box .event-date p {
  padding: 5px;
  display: block;
  margin: 0;
  font-size: 14px;
  background-color: #FFBC09;
  border-radius: 0 0 5px 5px;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

#upcoming-events .event-box .event-content {
  padding: 15px;
}

#upcoming-events .event-box .event-content h5 {
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#upcoming-events .event-box .event-content h5:hover {
  color: #FFBC09;
}

#upcoming-events .event-box .event-content ul {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

#upcoming-events .event-box .event-content ul li {
  display: inline-block;
  padding-right: 15px;
  font-size: 15px;
}

#upcoming-events .event-box .event-content ul li i {
  padding-right: 3px;
}

#upcoming-events .event-box .event-content ul li span {
  font-size: 15px;
  color: #FFBC09;
}

#upcoming-events .event-box .event-content p {
  color: #888888;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 16px;
  margin: 0;
}

#form-sect {
  background-image: url(../others/img/pattern_bg.png);
  background-color: #07294d;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
}

#form-sect .online-courses {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8%;
  border-radius: 10px;
}

#form-sect .online-courses .btn-warning {
  background-color: #FFBC09;
  border-color: #FFBC09;
  color: #fff;
  padding: 11px 31px;
  font-family: "Roboto", sans-serif;
}

#form-sect .online-courses .free {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}

#form-sect .online-courses .yellow {
  color: #FFBC09;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}

#form-sect .online-courses p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 14px 0 20px 0;
}

#form-sect .online-courses form {
  color: #fff;
}

#form-sect .online-courses form .form-group {
  color: #fff;
  margin-bottom: 16px;
}

#form-sect .online-courses form .form-group input {
  background-color: transparent;
  border-color: #fff;
  padding: 23px 26px;
  border-radius: 4px;
}

#form-sect .online-courses form .form-group input::-webkit-input-placeholder {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#form-sect .online-courses form .form-group input:-ms-input-placeholder {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#form-sect .online-courses form .form-group input::-ms-input-placeholder {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#form-sect .online-courses form .form-group input::placeholder {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#form-sect .online-courses form .form-group textarea {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 82px;
  background-color: transparent;
  border-color: #fff;
  height: auto;
}

#form-sect .online-courses form .form-group textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#form-sect .online-courses form .form-group textarea:-ms-input-placeholder {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#form-sect .online-courses form .form-group textarea::-ms-input-placeholder {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#form-sect .online-courses form .form-group textarea::placeholder {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#form-sect .online-courses form .iconic-select {
  position: relative;
}

#form-sect .online-courses form .iconic-select i {
  position: absolute;
  top: 8px;
  right: 11px;
  font-size: 21px;
  color: #fff;
}

#form-sect .online-courses form .iconic-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#form-sect .online-courses form .iconic-select .iconic {
  background-color: transparent;
}

#form-sect .online-courses form .iconic-select .iconic option {
  color: #292b2c;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

#form-sect .online-courses form .iconic-select .iconic:first-child {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#student-say {
  padding: 100px 0;
}

#student-say .event-heading h2 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
  font-size: 32px;
}

#student-say .event-heading p {
  color: #888888;
  font-family: "Roboto", sans-serif;
  margin-bottom: 46px;
}

#student-say .student-slider {
  background-color: #fff;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0px 12px 9px 46px;
  margin: 5px 5px 5px 50px;
  position: relative;
}

#student-say .student-slider::before {
  content: "\f10e";
  position: absolute;
  right: 40px;
  top: 0;
  font-family: "FontAwesome";
  font-size: 190px;
  line-height: normal;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.02);
}

#student-say .student-slider .slider-item {
  margin-left: 12px;
}

#student-say .student-slider .slider-item .img {
  display: inline-block;
}

#student-say .student-slider .slider-item .img img {
  position: absolute;
  left: -60px;
  border-radius: 5px;
}

#student-say .student-slider .slider-item .slider-item-content .name {
  margin-bottom: 6px;
}

#student-say .student-slider .slider-item .slider-item-content .name h6 {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #292b2c;
}

#student-say .student-slider .slider-item .slider-item-content .name span {
  font-style: italic;
  color: #FFBC09;
  font-family: "Roboto", sans-serif;
}

#student-say .student-slider .slider-item .slider-item-content .desc p {
  color: #888888;
  font-family: "Rubik", sans-serif;
}

#our-blog {
  padding: 100px 0;
  background-color: #f7f7f7;
}

#our-blog .all-blog-btn {
  text-align: center;
  margin-top: 50px;
}

#our-blog .all-blog-btn .btn-warning {
  color: #fff;
  background-color: #FFBC09;
  border-color: #FFBC09;
  padding: 13px 32px;
  position: relative;
}

#our-blog .all-blog-btn .btn-warning::before {
  content: "";
  background-color: rgba(247, 247, 247, 0.75);
  height: 100%;
  width: 32px;
  display: block;
  position: absolute;
  top: 0;
  left: -72px;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
}

#our-blog .all-blog-btn .btn-warning:hover::before {
  -webkit-transform: skewX(-45deg) translateX(40em);
  transform: skewX(-45deg) translateX(620px);
}

#our-blog .all-blog-btn .btn-warning i {
  color: #fff;
  font-size: 13px;
  margin-left: 3px;
}

#our-blog .event-heading h2 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
  font-size: 32px;
}

#our-blog .event-box {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
}

#our-blog .event-box:hover .img-box::before {
  opacity: 1;
}

#our-blog .event-box .img-box {
  overflow: hidden;
  position: relative;
}

#our-blog .event-box .img-box::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#our-blog .event-box .img-box img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

#our-blog .event-content {
  padding: 15px;
}

#our-blog .event-content h5 {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #292b2c;
  font-weight: 500;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#our-blog .event-content h5:hover {
  color: #FFBC09;
}

#our-blog .event-content p {
  margin-bottom: 10px;
  color: #888888;
  font-family: "Roboto", sans-serif;
}

#our-blog .event-content span {
  color: #292b2c;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#our-blog .event-content span:hover {
  color: #FFBC09;
}

#our-blog ul {
  padding: 15px;
  border-top: 1px solid #ddd;
}

#our-blog ul li {
  display: inline;
}

#our-blog ul li i {
  color: #FFBC09;
  font-size: 15px;
  margin-right: 5px;
}

#our-blog ul li span {
  font-size: 14px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  margin-right: 8px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#our-blog ul li span:hover {
  color: #FFBC09;
}

#our-client {
  padding: 100px 0;
}

#our-client .slider .box .item img {
  margin: 0 auto;
  width: auto;
  opacity: 0.7;
  padding: 0 10px;
  max-width: 100%;
}

#our-client .standart-headings h2 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
  font-size: 32px;
}

#our-client .standart-headings p {
  color: #888888;
  font-family: "Roboto", sans-serif;
  margin-bottom: 46px;
}

#our-teachers {
  padding: 100px 0;
  background-image: url(../others/img/teacher_bg.jpg);
  padding: 100px 0 70px 0;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-size: cover;
}

#our-teachers::before {
  background-color: rgba(7, 41, 77, 0.9);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
}

#our-teachers .standart-headings h2 {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
  font-size: 32px;
}

#our-teachers .standart-headings p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding-bottom: 25px;
}

#our-teachers .teacher-box .teacher-img img {
  border-radius: 10px 10px 0 0;
}

#our-teachers .teacher-box .teacher-name {
  background-color: white;
  text-align: center;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

#our-teachers .teacher-box .teacher-name h4 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  color: #292b2c;
}

#our-teachers .teacher-box .teacher-name span {
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.page-banner {
  background-image: url(../others/img/about_bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-size: cover;
  padding: 100px;
}

.page-banner .banner-layout {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.page-banner .title h1 {
  font-size: 36px;
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-weight: bold;
}

.page-banner .handmade-breadcrumb {
  text-align: right;
}

.page-banner .handmade-breadcrumb a {
  text-decoration: none;
}

.page-banner .handmade-breadcrumb a p {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: inline-block;
}

.page-banner .handmade-breadcrumb span {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#parallax-counter-us-sect {
  background-color: #f7f7f7;
  padding: 100px 0 70px 0;
  position: relative;
}

#parallax-counter-us-sect .parallax-icon img {
  margin-bottom: 15px;
}

#parallax-counter-us-sect .numbers h3 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-size: 29px;
  font-weight: 500;
  margin-bottom: 8px;
}

#parallax-counter-us-sect .numbers h3 span {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}

#parallax-counter-us-sect .numbers p {
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#our-courses-page-sect {
  padding: 50px 0 100px 0;
}

#our-courses-page-sect .course-box {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  overflow: hidden;
}

#our-courses-page-sect .course-box:hover .course-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#our-courses-page-sect .course-box .course-img {
  overflow: hidden;
}

#our-courses-page-sect .course-box .course-img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#our-courses-page-sect .course-box .content-area {
  padding: 15px;
}

#our-courses-page-sect .course-box .content-area h4 {
  cursor: pointer;
  color: #292b2c;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#our-courses-page-sect .course-box .content-area h4:hover {
  color: #FFBC09;
}

#our-courses-page-sect .course-box .content-area p {
  margin-bottom: 10px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

#our-courses-page-sect .course-box .content-area .rating-part .stars {
  display: inline-block;
}

#our-courses-page-sect .course-box .content-area .rating-part .stars i {
  color: #FFBC09;
  font-size: 13px;
}

#our-courses-page-sect .course-box .content-area .rating-part .likes {
  list-style: none;
  float: right;
}

#our-courses-page-sect .course-box .content-area .rating-part .likes li {
  display: inline;
}

#our-courses-page-sect .course-box .content-area .rating-part .likes li i {
  color: #888888;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#our-courses-page-sect .course-box .content-area .rating-part .likes li i:hover {
  color: #FFBC09;
}

#our-courses-page-sect .course-box .box-foot {
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1px;
  border-top: 1px solid #ddd;
}

#our-courses-page-sect .course-box .box-foot .foot-photo {
  display: inline-block;
}

#our-courses-page-sect .course-box .box-foot .foot-photo img {
  max-width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#our-courses-page-sect .course-box .box-foot .foot-photo span {
  font-size: 16x;
  font-family: "Roboto", sans-serif;
  color: #292b2c;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#our-courses-page-sect .course-box .box-foot .foot-photo span:hover {
  color: #FFBC09;
}

#our-courses-page-sect .course-box .box-foot .price {
  display: inline-block;
}

#our-courses-page-sect .course-box .box-foot .price .price-back {
  display: block;
  padding: 5px 15px;
  background-color: #d4edda;
  border-radius: 5px;
}

#our-courses-page-sect .course-box .box-foot .price .price-back span {
  color: #155724;
}

#our-courses-page-sect .page-numbers ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
}

#our-courses-page-sect .page-numbers ul li {
  margin-right: 5px;
  list-style: none;
}

#our-courses-page-sect .page-numbers ul li i {
  vertical-align: middle;
}

#our-courses-page-sect .page-numbers ul li a {
  text-decoration: none;
  border: 2px solid #dee2e6;
  border-radius: 4px;
  color: #888888;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  padding: 8px 15px;
  font-size: 18px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#our-courses-page-sect .page-numbers ul li a:hover {
  background-color: #FFBC09;
  color: #fff;
  border: 2px solid #FFBC09;
}
/*# sourceMappingURL=index.css.map */