body {
  background-color: #fff;
}

.alert {
  border: 0 !important;
  border-radius: 0 !important;
}

.alert-danger {
  background-color: #F6475F !important;
  margin-bottom: 0 !important;
}

.alert-danger span {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
}

.alert-danger span a {
  text-decoration: underline;
  color: #fff;
}

.alert-danger button {
  background-color: #F6475F;
  border: 0;
  float: none;
  vertical-align: middle;
}

.alert-danger button span {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.5;
  margin-left: 4px;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 1px 0 #fff;
  line-height: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.alert-danger button span:hover {
  opacity: 0.7;
}

.alert-dark {
  margin: 0 !important;
  background-color: #343a40 !important;
  padding: 0 !important;
}

.alert-dark .info-contact {
  list-style: none;
  margin-bottom: 0;
  padding: 14px 0;
}

.alert-dark .info-contact li {
  display: inline-block;
  margin-right: 10px;
}

.alert-dark .info-contact li a {
  text-decoration: none;
}

.alert-dark .info-contact li a span {
  color: #fff;
  font-size: 14px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  font-family: "Roboto", sans-serif;
}

.alert-dark .info-contact li a span:hover {
  color: #FFBC09;
}

.alert-dark .info-contact li a i {
  margin-right: 5px;
  color: #fff;
  vertical-align: middle;
  font-size: 18px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.alert-dark .info-contact li a i:hover {
  color: #FFBC09;
}

.alert-dark .social-part {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.alert-dark .social-icons {
  list-style: none;
  display: inline;
}

.alert-dark .social-icons li {
  display: inline;
  margin-left: 20px;
}

.alert-dark .social-icons li i {
  color: #fff;
  font-size: 13px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.alert-dark .social-icons li i:hover {
  color: #FFBC09;
}

.alert-dark .login-apply {
  list-style: none;
  display: inline;
  position: relative;
  top: 7px;
}

.alert-dark .login-apply li {
  display: inline;
}

.alert-dark .login-apply li a {
  text-decoration: none;
}

.alert-dark .login-apply li span {
  color: #fff;
  margin-right: 5px;
  font-size: 15px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.alert-dark .login-apply li span:hover {
  color: #FFBC09;
}

.alert-dark .login-apply li button {
  background-color: #FFBC09 !important;
  border-color: #FFBC09 !important;
}

.alert-dark .login-apply:before {
  content: "";
  position: absolute;
  left: 19px;
  top: 7px;
  height: 25px;
  width: 1px;
  background-color: #eee;
}

.sticky-menu-nav .navbar {
  padding: 0 0;
}

.sticky-menu-nav .collapse .search-area {
  padding: 0;
  list-style: none;
  margin-top: 17px;
  margin-left: 10px;
}

.sticky-menu-nav .collapse .search-area i {
  color: #888888;
}

.sticky-menu-nav .collapse .search-area .search-pop {
  position: absolute;
  padding: 22px;
  background-color: #fff;
  border: 1px solid #ddd;
  right: 0;
  top: 70px;
  visibility: hidden;
  opacity: 0;
}

.sticky-menu-nav .collapse .search-area .search-pop .search-bar {
  position: relative;
  min-width: 268px;
}

.sticky-menu-nav .collapse .search-area .search-pop .search-bar i {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 22px;
}

.sticky-menu-nav .collapse .nav-item {
  padding: 17px 0;
}

.sticky-menu-nav .collapse .nav-item .nav-link {
  color: #292b2c;
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.sticky-menu-nav .collapse .nav-item .nav-link:hover {
  color: #FFBC09;
}

.sticky-menu-nav .collapse .dropdown {
  margin-right: 19px;
}

.sticky-menu-nav .collapse .dropdown .dropdown-menu {
  margin-top: -1px;
  background-color: #fff;
  border-color: rgba(165, 161, 161, 0.17);
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 65px;
  border-radius: 0;
}

.sticky-menu-nav .collapse .dropdown .dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 5px 6px;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-family: sans-serif;
  font-size: 14px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.sticky-menu-nav .collapse .dropdown .dropdown-menu .dropdown-item:hover {
  color: #FFBC09;
}

.sticky-menu-nav .collapse .dropdown .nav-link {
  color: #292b2c;
  font-weight: 600;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}

.sticky-menu-nav .collapse .dropdown .dropdown-toggle::after {
  border: 0 none;
  font-family: "FontAwesome";
  content: "\f107";
  height: auto;
  line-height: normal;
  margin-left: 5px;
  vertical-align: middle;
  width: auto;
  position: absolute;
  font-size: 16px;
  right: -6px;
  bottom: 26px;
}
/*# sourceMappingURL=index.css.map */