@import "components/colors";
@import "components/fonts";
@import "parts/extendtions";
@import "components/mixins";
@import "parts/header";
@import "parts/footer";
@import "parts/top-footer-layout";

body {
  background-color: $white;
  font-family: $subheading-font;
}
// most popular cat.
#mp-categories {
  padding-top: 100px;
  padding-bottom: 50px;
  .item-1 {
    .item {
      .categorie {
        background-color: $orange;
        width: 94%;
        height: 124px;
        display: flex;
        justify-content: center;
        border-radius: 5%;
        a {
          text-decoration: none;
          position: relative;
          display: flex;
          align-items: center;
          i {
            position: absolute;
            top: 34px;
            font-size: 32px;
            left: 31px;
            color: $white;
          }
          span {
            position: relative;
            bottom: -24px;
            color: $white;
            font-size: 17px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .item-2 {
    .item {
      .categorie {
        background-color: $light-blue;
        width: 94%;
        height: 124px;
        display: flex;
        justify-content: center;
        border-radius: 5%;
        a {
          text-decoration: none;
          position: relative;
          display: flex;
          align-items: center;
          i {
            position: absolute;
            top: 33px;
            font-size: 32px;
            left: 38px;
            color: $white;
          }
          span {
            position: relative;
            bottom: -24px;
            color: $white;
            font-size: 17px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .item-3 {
    .item {
      .categorie {
        background-color: $danger;
        width: 94%;
        height: 124px;
        display: flex;
        justify-content: center;
        border-radius: 5%;
        a {
          text-decoration: none;
          position: relative;
          display: flex;
          align-items: center;
          i {
            position: absolute;
            top: 33px;
            font-size: 32px;
            left: 24px;
            color: $white;
          }
          span {
            position: relative;
            bottom: -24px;
            color: $white;
            font-size: 17px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .item-4 {
    .item {
      .categorie {
        background-color: $green;
        width: 94%;
        height: 124px;
        display: flex;
        justify-content: center;
        border-radius: 5%;
        a {
          text-decoration: none;
          position: relative;
          display: flex;
          align-items: center;
          i {
            position: absolute;
            top: 33px;
            font-size: 32px;
            left: 17px;
            color: $white;
          }
          span {
            position: relative;
            bottom: -24px;
            color: $white;
            font-size: 17px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .item-5 {
    .item {
      .categorie {
        background-color: $primary-color;
        width: 94%;
        height: 124px;
        display: flex;
        justify-content: center;
        border-radius: 5%;
        a {
          text-decoration: none;
          position: relative;
          display: flex;
          align-items: center;
          i {
            position: absolute;
            top: 33px;
            font-size: 32px;
            left: 28px;
            color: $white;
          }
          span {
            position: relative;
            bottom: -24px;
            color: $white;
            font-size: 17px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .item-6 {
    .item {
      .categorie {
        background-color: $pink;
        width: 94%;
        height: 124px;
        display: flex;
        justify-content: center;
        border-radius: 5%;
        a {
          text-decoration: none;
          position: relative;
          display: flex;
          align-items: center;
          i {
            position: absolute;
            top: 33px;
            font-size: 32px;
            left: 32px;
            color: $white;
          }
          span {
            position: relative;
            bottom: -24px;
            color: $white;
            font-size: 17px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .standart-headings {
    h2 {
      color: $primary-black-color;
      font-family: $heading-font;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 16px;
      font-size: 32px;
    }
    p {
      color: $primary-secondBlack;
      font-family: $subheading-font;
      padding-bottom: 25px;
    }
  }
}
// first big slider. banner.
#banner-sect {
  height: 500px;
  display: inline-block;
  width: 100%;
  .carousel {
    height: 100%;
    position: relative;
    .carousel-inner {
      height: 100%;
      .carousel-item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        position: relative;
        &::before {
          content: "";
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          position: absolute;
          z-index: 1;
        }
        .carousel-headings {
          .btn-warning {
            color: $white;
            padding: 11px 26px;
            margin-right: 10px;
            background-color: $primary-color;
          }
          .btn-outline-light {
            position: relative;
            padding: 11px 26px;
            border: 2px solid $white;
            background-color: transparent;
            &:hover {
              color: $primary-color;
            }
            &::before {
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              width: 0;
              z-index: -1;
              content: "";
              background-color: $white;
              @include transition(all 0.5s);
            }
            &::after {
              content: "Learn More";
              position: absolute;
              height: 0%;
              left: -25%;
              top: 24%;
              width: 150%;
              z-index: -1;
              @include transition(all 0.5s);
            }
            &:hover::before {
              left: 0%;
              right: initial;
              width: 100%;
              z-index: 1;
            }
            &:hover::after {
              z-index: 1;
              color: $primary-color;
            }
          }
          position: absolute;
          text-align: center;
          top: 125px;
          z-index: 2;
          h2 {
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 30px;
            color: $white;
            text-transform: uppercase;
            font-family: $subheading-font;
          }
          p {
            font-size: 18px;
            color: $white;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
// why choow eduglobal section
#w-ch-eduglobal {
  background-color: #f7f7f7;
  padding: 100px 0;
  .w-ch-edu-headings {
    h2 {
      color: $primary-black-color;
      font-family: $heading-font;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 16px;
      font-size: 32px;
    }
    p {
      color: $primary-secondBlack;
      font-family: $subheading-font;
      padding-bottom: 20px;
      margin-bottom: 15px;
    }
  }
  .reason-box {
    background-color: $white;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
    border-radius: 5%;
    margin-top: 12px;
    @include transition(all 0.3s);
    .icon-circle-1 {
      border-radius: 100%;
      display: inline-block;
      padding: 20px;
      position: relative;
      height: 100px;
      width: 100px;
      text-align: center;
      background-color: $danger;
      margin-bottom: 16px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border: 3px solid #fff;
        border-radius: 100%;
        margin: 0px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }
      img {
        padding: 5px;
        position: absolute;
        left: 20px;
        top: 18px;
        max-width: 60px;
      }
    }
    .icon-circle-2 {
      border-radius: 100%;
      display: inline-block;
      padding: 20px;
      position: relative;
      height: 100px;
      width: 100px;
      text-align: center;
      background-color: $primary-color;
      margin-bottom: 16px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border: 3px solid #fff;
        border-radius: 100%;
        margin: 0px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }
      img {
        padding: 5px;
        position: absolute;
        left: 20px;
        top: 19px;
        max-width: 60px;
      }
    }
    .icon-circle-3 {
      border-radius: 100%;
      display: inline-block;
      padding: 20px;
      position: relative;
      height: 100px;
      width: 100px;
      text-align: center;
      background-color: $green;
      margin-bottom: 16px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border: 3px solid #fff;
        border-radius: 100%;
        margin: 0px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }
      img {
        padding: 5px;
        position: absolute;
        left: 20px;
        top: 20px;
        max-width: 60px;
      }
    }
    .reason-s {
      h5 {
        color: $primary-black-color;
        font-family: $heading-font;
        font-size: 20px;
      }
      p {
        color: $primary-secondBlack;
        font-family: $subheading-font;
      }
    }
  }
}
// about us video sect
#about-us-sect {
  padding: 50px 0;
  overflow: hidden;
  .aboutus-part {
    padding: 54px;
    border-radius: 0 200px 200px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: -50px;
    z-index: 1;
    background-color: $white;

    .au-heading {
      h2 {
        font-family: $heading-font;
        color: $primary-black-color;
        margin-bottom: 16px;
        font-size: 32px;
        font-weight: 500;
      }
    }
    p {
      font-family: $subheading-font;
      color: $primary-secondBlack;
    }
    .counter-list {
      li {
        display: inline-block;
        span {
          font-size: 40px;
          font-family: $heading-font;
          line-height: 1.2;
          font-weight: 500;
          padding-bottom: 13px;
        }
        h6 {
          font-family: $heading-font;
          font-weight: 500;
          margin-top: 7px;
        }
      }
    }
  }
  .image-part {
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
    }
    position: relative;
    z-index: -1;
    img {
      z-index: -1;
      width: 100%;
    }
  }
  .video-link {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    i {
      position: absolute;
      display: inline-block;
      padding: 20px;
      border-radius: 50%;
      background-color: $white;
      color: $primary-color;
    }
  }
}
// our courses sect
#our-courses-sect {
  padding: 50px 0 100px 0;
  .standart-headings {
    h2 {
      color: $primary-black-color;
      font-family: $heading-font;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 16px;
      font-size: 32px;
    }
    p {
      color: $primary-secondBlack;
      font-family: $subheading-font;
    }
  }
  .course-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: $white;
    border-radius: 10px;
    margin-top: 30px;
    overflow: hidden;
    &:hover .course-img img {
      transform: scale(1.1);
    }
    .course-img {
      overflow: hidden;
      img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        @include transition(all 0.3s);
      }
    }
    .content-area {
      padding: 15px;
      h4 {
        cursor: pointer;
        color: $primary-black-color;
        font-size: 18px;
        font-family: $heading-font;
        font-weight: 500;
        @include transition(all 0.3s);
      }
      h4:hover {
        color: $primary-color;
      }
      p {
        margin-bottom: 10px;
        color: $primary-secondBlack;
        font-family: $subheading-font;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      .rating-part {
        .stars {
          display: inline-block;
          i {
            color: $primary-color;
            font-size: 13px;
          }
        }
        .likes {
          list-style: none;
          float: right;
          li {
            display: inline;
            i {
              color: $primary-secondBlack;
              @include transition(all 0.3s);
            }
            i:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
    .box-foot {
      padding: 15px;
      align-items: center;
      justify-content: space-between;
      display: flex;
      margin: 1px;
      border-top: 1px solid #ddd;
      .foot-photo {
        display: inline-block;
        img {
          max-width: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }
        span {
          font-size: 16x;
          font-family: $subheading-font;
          color: $primary-black-color;
          @include transition(all 0.3s);
        }
        span:hover {
          color: $primary-color;
        }
      }
      .price {
        display: inline-block;
        .price-back {
          display: block;
          padding: 5px 15px;
          background-color: #d4edda;
          border-radius: 5px;
          span {
            color: #155724;
          }
        }
      }
    }
  }
  .all-courses-btn {
    text-align: center;
    margin-top: 50px;
    .btn-warning {
      color: $white;
      background-color: $primary-color;
      border-color: $primary-color;
      padding: 13px 32px;
      position: relative;
      i {
        color: $white;
        font-size: 13px;
        margin-left: 3px;
      }
      &::before {
        content: "";
        background-color: rgba(255, 255, 255, 0.46);
        height: 100%;
        width: 32px;
        display: block;
        position: absolute;
        top: 0;
        left: -72px;
        -webkit-transform: skewX(-45deg) translateX(0);
        transform: skewX(-45deg) translateX(0);
        @include transition(all 0.7s);
      }
      &:hover::before {
        -webkit-transform: skewX(-45deg) translateX(40em);
        transform: skewX(-45deg) translateX(620px);
      }
    }
  }
}
// parallax counter sect
#parallax-counter {
  .layout {
    background-color: rgba(7, 41, 77, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  background-image: url(../others/img/counter_bg.jpg);
  padding: 100px 0 70px 0;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-size: cover;
  .parallax-icon {
    img {
      margin-bottom: 15px;
    }
  }
  .numbers {
    h3 {
      color: $white;
      font-family: $heading-font;
      font-size: 29px;
      font-weight: 500;
      margin-bottom: 8px;
      span {
        color: $white;
        font-family: $heading-font;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 8px;
      }
    }
    p {
      color: $white;
      font-family: $subheading-font;
      font-size: 16px;
    }
  }
}

// upcoming events sect
#upcoming-events {
  padding: 100px 0;
  .event-heading {
    h2 {
      color: $primary-black-color;
      font-family: $heading-font;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 16px;
      font-size: 32px;
    }
    p {
      color: $primary-secondBlack;
      font-family: $subheading-font;
      margin-bottom: 16px;
    }
  }
  .event-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 30px;
    background-color: $white;
    overflow: hidden;
    &:hover .img-box img {
      transform: scale(1.1);
    }
    .img-box {
      position: relative;
      overflow: hidden;
      img {
        border-radius: 10px 10px 0 0;
        @include transition(all 0.4s);
      }
      .event-date {
        position: absolute;
        top: 10px;
        left: 10px;
        max-width: 75px;
        background-color: $white;
        text-align: center;
        width: 100%;
        border-radius: 5px;
        h4 {
          font-size: 15px;
          margin: 0;
          padding: 5px;
          font-family: $heading-font;
          span {
            font-size: 24px;
            display: block;
            font-family: $heading-font;
            padding-bottom: 2px;
          }
        }
        p {
          padding: 5px;
          display: block;
          margin: 0;
          font-size: 14px;
          background-color: $primary-color;
          border-radius: 0 0 5px 5px;
          color: $white;
          font-family: $heading-font;
        }
      }
    }
    .event-content {
      padding: 15px;
      h5 {
        font-size: 18px;
        margin-bottom: 10px;
        cursor: pointer;
        @include transition(all 0.3s);
        &:hover {
          color: $primary-color;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        li {
          display: inline-block;
          padding-right: 15px;
          font-size: 15px;
          i {
            padding-right: 3px;
          }
          span {
            font-size: 15px;
            color: $primary-color;
          }
        }
      }
      p {
        color: $primary-secondBlack;
        font-family: $subheading-font;
        text-align: left;
        font-size: 16px;
        margin: 0;
      }
    }
  }
}

// form section
#form-sect {
  background-image: url(../others/img/pattern_bg.png);
  background-color: #07294d;
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  .online-courses {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8%;
    border-radius: 10px;
    .btn-warning {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $white;
      padding: 11px 31px;
      font-family: $subheading-font;
    }
    .free {
      color: $white;
      font-family: $heading-font;
      font-size: 32px;
    }
    .yellow {
      color: $primary-color;
      font-family: $heading-font;
      font-size: 32px;
    }
    p {
      color: $white;
      font-family: $subheading-font;
      font-size: 16px;
      margin: 14px 0 20px 0;
    }
    form {
      color: $white;
      .form-group {
        color: $white;
        margin-bottom: 16px;
        input {
          background-color: transparent;
          border-color: $white;
          padding: 23px 26px;
          border-radius: 4px;
          &::placeholder {
            font-size: 16px;
            color: $white;
            font-family: $subheading-font;
          }
        }
        textarea {
          margin-top: 0px;
          margin-bottom: 0px;
          height: 82px;
          background-color: transparent;
          border-color: $white;
          height: auto;
          &::placeholder {
            font-size: 16px;
            color: $white;
            font-family: $subheading-font;
          }
        }
      }
      .iconic-select {
        position: relative;
        i {
          position: absolute;
          top: 8px;
          right: 11px;
          font-size: 21px;
          color: $white;
        }
        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          appearance: none;
        }
        .iconic {
          option {
            color: $primary-black-color;
            font-family: $subheading-font;
            background-color: $white;
          }
          background-color: transparent;
          &:first-child {
            color: $white;
            font-family: $subheading-font;
          }
        }
      }
    }
  }
}

// student-say sect
#student-say {
  padding: 100px 0;
  .event-heading {
    h2 {
      color: $primary-black-color;
      font-family: $heading-font;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 16px;
      font-size: 32px;
    }
    p {
      color: $primary-secondBlack;
      font-family: $subheading-font;
      margin-bottom: 46px;
    }
  }
  .student-slider {
    background-color: $white;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0px 12px 9px 46px;
    margin: 5px 5px 5px 50px;
    position: relative;
    &::before {
      content: "\f10e";
      position: absolute;
      right: 40px;
      top: 0;
      font-family: "FontAwesome";
      font-size: 190px;
      line-height: normal;
      font-weight: 900;
      color: rgba(0, 0, 0, 0.02);
    }
    .slider-item {
      margin-left: 12px;
      .img {
        display: inline-block;
        img {
          position: absolute;
          left: -60px;
          border-radius: 5px;
        }
      }
      .slider-item-content {
        .name {
          margin-bottom: 6px;
          h6 {
            font-size: 16px;
            font-family: $heading-font;
            font-weight: 500;
            color: $primary-black-color;
          }
          span {
            font-style: italic;
            color: $primary-color;
            font-family: $subheading-font;
          }
        }
        .desc {
          p {
            color: $primary-secondBlack;
            font-family: $heading-font;
          }
        }
      }
    }
  }
}

// our-blog sect
#our-blog {
  .all-blog-btn {
    text-align: center;
    margin-top: 50px;
    .btn-warning {
      color: $white;
      background-color: $primary-color;
      border-color: $primary-color;
      padding: 13px 32px;
      position: relative;
      &::before {
        content: "";
        background-color: rgba(247, 247, 247, 0.75);
        height: 100%;
        width: 32px;
        display: block;
        position: absolute;
        top: 0;
        left: -72px;
        -webkit-transform: skewX(-45deg) translateX(0);
        transform: skewX(-45deg) translateX(0);
        @include transition(all 0.7s);
      }
      &:hover::before {
        -webkit-transform: skewX(-45deg) translateX(40em);
        transform: skewX(-45deg) translateX(620px);
      }
      i {
        color: $white;
        font-size: 13px;
        margin-left: 3px;
      }
    }
  }
  padding: 100px 0;
  background-color: rgb(247, 247, 247);
  .event-heading {
    h2 {
      color: $primary-black-color;
      font-family: $heading-font;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 16px;
      font-size: 32px;
    }
  }
  .event-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: $white;
    border-radius: 10px;
    margin-top: 30px;
    &:hover .img-box::before {
      opacity: 1;
    }
    .img-box {
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        border-radius: 10px 10px 0 0;
        @include transition(all 0.5s);
      }
      img {
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
  }
  .event-content {
    padding: 15px;
    h5 {
      font-size: 16px;
      font-family: $heading-font;
      color: $primary-black-color;
      font-weight: 500;
      @include transition(all 0.4s);
      &:hover {
        color: $primary-color;
      }
    }
    p {
      margin-bottom: 10px;
      color: $primary-secondBlack;
      font-family: $subheading-font;
    }
    span {
      color: $primary-black-color;
      font-weight: 400;
      font-size: 16px;
      @include transition(all 0.4s);
      &:hover {
        color: $primary-color;
      }
    }
  }
  ul {
    padding: 15px;
    border-top: 1px solid #ddd;
    li {
      display: inline;
      i {
        color: $primary-color;
        font-size: 15px;
        margin-right: 5px;
      }
      span {
        font-size: 14px;
        color: $primary-secondBlack;
        font-family: $subheading-font;
        margin-right: 8px;
        @include transition(all 0.4s);
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

// our-client sect
#our-client {
  .slider {
    .box {
      .item {
        img {
          margin: 0 auto;
          width: auto;
          opacity: 0.7;
          padding: 0 10px;
          max-width: 100%;
        }
      }
    }
  }
  padding: 100px 0;
  .standart-headings {
    h2 {
      color: $primary-black-color;
      font-family: $heading-font;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 16px;
      font-size: 32px;
    }
    p {
      color: $primary-secondBlack;
      font-family: $subheading-font;
      margin-bottom: 46px;
    }
  }
}

// our teachers sect
#our-teachers {
  padding: 100px 0;
  background-image: url(../others/img/teacher_bg.jpg);
  padding: 100px 0 70px 0;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-size: cover;
  &::before {
    background-color: rgba(7, 41, 77, 0.9);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
  }
  .standart-headings {
    h2 {
      color: $white;
      font-family: $heading-font;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 16px;
      font-size: 32px;
    }
    p {
      color: $white;
      font-family: $subheading-font;
      padding-bottom: 25px;
    }
  }
  .teacher-box {
    .teacher-img {
      img {
        border-radius: 10px 10px 0 0;
      }
    }
    .teacher-name {
      background-color: white;
      text-align: center;
      padding: 15px;
      border-radius: 0 0 10px 10px;
      h4 {
        font-family: $heading-font;
        font-size: 20px;
        color: $primary-black-color;
      }
      span {
        color: $primary-secondBlack;
        font-family: $subheading-font;
        font-size: 16px;
      }
    }
  }
}
