// top footer sect
#yellow-overlay-sect {
  background-color: $primary-color;
  padding: 45px 0px 26px 0px;
  .text {
    h2 {
      margin-bottom: 20px;
      color: $white;
      font-family: $subheading-font;
    }
    p {
      color: $white;
      font-family: $subheading-font;
    }
  }
  .getStrat-btn {
    text-align: right;
    .btn-outline-light {
      padding: 10px 35px;
      border: 2px solid $white;
      font-family: $subheading-font;
      background-color: transparent;
      position: relative;
      color: $white;
      &:hover {
        color: $primary-color;
      }
      &::before {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        z-index: -1;
        content: "";
        background-color: $white;
        @include transition(all 0.5s);
      }
      &::after {
        content: "Get Started";
        position: absolute;
        height: 0%;
        left: -25%;
        top: 24%;
        width: 150%;
        z-index: -1;
        @include transition(all 0.5s);
      }
      &:hover::before {
        left: 0%;
        right: initial;
        width: 100%;
        z-index: 1;
      }
      &:hover::after {
        z-index: 1;
        color: $primary-color;
      }
    }
  }
}