$primary-black-color:#292b2c;
$primary-secondBlack:#888888;
$primary-color:#FFBC09;
$green:#B3D369;
$orange:#F89035;
$light-blue:#38DDF7;
$pink:#F94FA4;
$danger:#F6475F;
$darken:#343a40;
$dark-black:#202325;
$white: #fff;
